.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

button {
  width: 80px;
  height: 80px;
  margin-left: 5px;
  margin-right: 5px;
}

.close {
  background-color: burlywood;
  color: black;
}

.remove {
  background-color: red;
  color: white;
}

.save {
  background-color: aqua;
  color: black;
}
